.text{
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 2px 2px 10px cyan;
  color: aliceblue;
}
.heading{
  font-weight: 800;
}
.buton{
  width: 100%;
  text-align: center;
  color:white;
  padding: 5px;
  margin:0px;
  margin-top: 0px;
  background-color: rgba(255, 255, 255, 0.336);
  box-shadow: 2px 2px 10px cyan;
  border-radius: 10px;
  transition: 0.5s;
  border: 0px;
}
.buton:hover{
  background-color: darkturquoise;
  color:white;
  box-shadow: 2px 2px 30px cyan;
}

.nav-bar{

  background-color: darkslategray;
  padding: 5px;

}

.box{
  padding:10px;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.329);
  border-radius: 10px;
}
.box-shadow{
  box-shadow: 2px 2px 10px cyan;
}